ion-card{
    margin-bottom:10px;
}

ion-button:hover {
    opacity:0.6;
}

.name {
    text-align: center;
    margin-top :10px;
}

.species {
    text-align: center;
}

.buttons {
    margin-bottom: 10px;
}