    <div id="background">

      <h1>Welcome to the other side</h1>
      <h2>Choose your side</h2>
     

      <div id="buttonContainer">
        <div id="divDark" class="center">
            <a id="darkButton" routerLink="/account" routerLinkActive="router-link-active"  alt="account">
              Dark side
            </a>
        </div>

        <div id="divLight" class="center">
            <a id="ligthButton" routerLink="/account" alt="account">
              Light side
            </a>
        </div>
      </div> 
      
      <!--<div class="light">
          <label class="switch"><input type="checkbox" />    <div></div>
          </label>
          <div class="dark">
          <label class="switch2"><input type="checkbox" />    <div></div>
          </label>
        </div> 
      </div> -->
    </div>