<ion-app class="main ion-text-center">

  <ion-content padding>
    <div id="header">
      <h1>Welcome to the other side</h1>
      <h2>Choose your side</h2>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col class="darkSide justify-content-center">
          <a>
            <div id="darkButton" class="side ion-align-self-center">
              Dark side
            </div>
          </a>
        </ion-col>
        <ion-col class="lightSide">
          <a>
            <div id="lightButton" class="side ion-align-self-center">
              Light side
            </div>
          </a>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

</ion-app>
