<div class='bold-line'></div>
<div class='container'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello stars citizen!</div>
      <div class='subtitle'>We're almost done. You first need to create an account.</div>
      <div class='input-fields'>
        <input type='text' placeholder='Name' class='input-line full-width'/>
        <input type='text' placeholder='Age' class='input-line full-width'/>
        <input type='email' placeholder='starmail' class='input-line full-width'/>
        <input type='text' placeholder='Planet' class='input-line full-width'/>

        <div class="image-selector">
            <form action="/action_page.php">
                <div class='subtitle'>
                    Your picture<input type='file' name='img' multiple class='input-line full-width'>
                </div>
            </form>
        </div>

      </div>
      <div class='spacing'>or continue with <span class='highlight'>Starbook</span></div>
      <div><button class='ghost-round full-width'>Create Account</button></div>
    </div>
</div>
